body {
  margin: 0;
  font-family: sans-serif;
}

div, input, button {
  box-sizing: border-box;
}

h1 {
  margin: 10px;
}

#list {
  right: 0;
  top: 0;
  border: 1 solid black;
  border-left: none;
  height: 521px;
  width: 160px;
  float: right;
  overflow-y: scroll;
}

#list h2 {
  text-align: center;
}

#list ul {
  list-style-type: none;
}

.note {
  position: absolute;
  bottom: 23px;
  border: 1 solid #425B6D;
  margin: 0px;
  padding: 3px;
  color: #425B6D;
  background: #8EC5ED;
  font-size: 90%;
}

#list .note {
  margin: 10px;
  width: 17.6%;
}

#msgs {
  height: 521px;
  width: 640px;
  overflow-y: scroll;
  float: left;
  border: 1 solid black;
}

#msgs div {
  width: 620px;
  height: auto;
  margin: 10px 10px 10px 10px;
}

.private {
  color: red;
}

#msgs .note {
  width: 77%;
}

#text {
  width: 70vw;
  height: 2em;
  float: left;
  border: 0 none white;
  overflow: hidden;
  padding: 0;
  outline: none;
  resize: none;
  border: 1 solid black;
}

#send {
  float: left;
  height: 2em;
  width: 10vw;
}

.conversations {
  width: 80vw;
  height: 80vh;
  float: left;
}
